/* Photo de energepic.com provenant de Pexels */
/* .container {
    box-sizing: border-box;
    padding-bottom: 120px;
    margin: 0px;
    background-color: rgb(53, 52, 52);
    height: 100vh;
} */

.formation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
}

figure {
    margin: 10px;
}

.imageBarman {
    margin: auto, 0;
    border-color: white;
    border: solid white 2px;
    box-shadow: 0px 0px 7px 5px #00f0ff, inset 0px 0px 15px 6px #00f0ff;
    width: 80%;
   
}

.introduction {
    color: #FF9400;
    
}

.sommaire {
    color: #FF3100;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* span {
    color:#00F0FF;
    font-size: 2em;
} */


/* h1 {
    text-shadow: 0 0 3px #FF0000, 0 5px 7px #00f0ff;
    color: #FF3100;
}

h2 {
    color: #FF6000;
}

p {
    color: #f4af4d;
    text-align: center;
    margin-bottom: 30px;
} */

/* mise en forme des icones  */
.icone-shaker, .icone-diplome, .icone-flair {
    font-size: 2em;
    margin-right: 5px;  
}

ul {
    list-style: none;
}

.linkSite {
    font-size: 1em;
    color: #FF9400;
}

.videoPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.playerVideo-1 {
    display: flex;
    justify-content: center;
   margin-bottom: 100px; 
   margin: 100px;
   
   width: 100%; 
   border-left: solid 2px rgb(170, 221, 255);
   border-right: solid 2px rgb(170, 221, 255);
}

.playerVideo-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 100px; 
    width: 100%; 
    border-left: solid 2px rgb(170, 221, 255);
    border-right: solid 2px rgb(170, 221, 255);
 }


