  body {
  background-color: rgb(37 23 51);
}

h1 {
  font-size: 35px;
  color: #ffa800;
}

.Cartes {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.CartesEteintes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// *! ---------------CLIGNOTEMENT---------------

@keyframes flicker-blue-card {
  0% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }
  2% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1)
  }
  8% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }
  12% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }
  20% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }
  25% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }
  30% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }

  70% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }

  72% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }

  77% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }
}

@keyframes flicker-pink-card {
  0% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #ff00e5, inset 0px 0px 10px 2px #ff00e5;
  }
  2% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px #ff00e5, inset 0px 0px 10px 2px #ff00e5;
  }
  8% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px #ff00e5, inset 0px 0px 10px 2px #ff00e5;
  }
  12% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #ff00e5, inset 0px 0px 10px 2px #ff00e5;
  }
  20% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #ff00e5, inset 0px 0px 10px 2px #ff00e5;
  }
  25% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #ff00e5, inset 0px 0px 10px 2px #ff00e5;
  }
  30% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #ff00e5, inset 0px 0px 10px 2px #ff00e5;
  }

  70% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px #ff00e5, inset 0px 0px 10px 2px #ff00e5;
  }

  72% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #ff00e5, inset 0px 0px 10px 2px #ff00e5;
  }

  77% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px #ff00e5, inset 0px 0px 10px 2px #ff00e5;
  }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #ff00e5, inset 0px 0px 10px 2px #ff00e5;
  }
}

@keyframes flicker-orange-card {
  0% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #ffc700, inset 0px 0px 10px 2px #ffc700;
  }
  2% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px #ffc700, inset 0px 0px 10px 2px #ffc700;
  }
  8% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px #ffc700, inset 0px 0px 10px 2px #ffc700;
  }
  12% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #ffc700, inset 0px 0px 10px 2px #ffc700;
  }
  20% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #ffc700, inset 0px 0px 10px 2px #ffc700;
  }
  25% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #ffc700, inset 0px 0px 10px 2px #ffc700;
  }
  30% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #ffc700, inset 0px 0px 10px 2px #ffc700;
  }

  70% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px #ffc700, inset 0px 0px 10px 2px #ffc700;
  }

  72% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #ffc700, inset 0px 0px 10px 2px #ffc700;
  }

  77% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px #ffc700, inset 0px 0px 10px 2px #ffc700;
  }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #ffc700, inset 0px 0px 10px 2px #ffc700;
  }
}

@keyframes flicker-green-card {
  0% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00ff00, inset 0px 0px 10px 2px #00ff00;
  }
  2% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px #00ff00, inset 0px 0px 10px 2px #00ff00;
  }
  8% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px #00ff00, inset 0px 0px 10px 2px #00ff00;
  }
  12% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00ff00, inset 0px 0px 10px 2px #00ff00;
  }
  20% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00ff00, inset 0px 0px 10px 2px #00ff00;
  }
  25% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00ff00, inset 0px 0px 10px 2px #00ff00;
  }
  30% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00ff00, inset 0px 0px 10px 2px #00ff00;
  }

  70% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px #00ff00, inset 0px 0px 10px 2px #00ff00;
  }

  72% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00ff00, inset 0px 0px 10px 2px #00ff00;
  }

  77% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px #00ff00, inset 0px 0px 10px 2px #00ff00;
  }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00ff00, inset 0px 0px 10px 2px #00ff00;
  }
}

// *! -----------------CARTES ALLUMEES-----------------

.CarteBleue {
  box-sizing: border-box;
  margin: 0px, 50px, 0px, 50px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  width: 150px;
  height: 200px;
  background: grey;
  border-radius: 10px;
  border: solid white 2px;
  animation: flicker-blue-card 2.09ms infinite alternate;
}

.CarteOrange {
  box-sizing: border-box;
  margin: 0px, 50px, 0px, 50px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  width: 150px;
  height: 200px;
  background: grey;
  border-radius: 10px;
  border: solid white 2px;
  animation: flicker-orange-card 2.08ms infinite alternate;
}

.CarteRose {
  box-sizing: border-box;
  margin: 0px, 50px, 0px, 50px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  width: 150px;
  height: 200px;
  background: grey;
  border-radius: 10px;
  border: solid white 2px;
  animation: flicker-pink-card 2.08ms infinite alternate;
}

.CarteVerte {
  box-sizing: border-box;
  margin: 0px, 50px, 0px, 50px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  width: 150px;
  height: 200px;
  background: grey;
  border-radius: 10px;
  border: solid white 2px;
  animation: flicker-green-card 2.087ms infinite alternate;
}

// *! -----------------CARTES ETEINTES-----------------

.CarteBleueOff {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 200px;
  background: black;
  border-radius: 10px;
  border: solid #005e64 2px;
  box-shadow: 0px 0px 0px 0px #00f0ff, inset 0px 0px 0px 0px #00f0ff;
  transition: all .2s ease-in-out;

  &:hover {
    cursor: pointer;
  border: solid white 2px;
  animation: flicker-blue-card 2.1ms infinite alternate;
  border: solid white 2px;
  transform: scale(1.1);
  }
}


.CarteOrangeOff {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 200px;
  background: black;
  border-radius: 10px;
  border: solid #554300 2px;
  box-shadow: 0px 0px 0px 0px #ffc700, inset 0px 0px 0px 0px #ffc700;
  transition: all .2s ease-in-out;

  &:hover {
    cursor: pointer;
  border: solid white 2px;
  animation: flicker-orange-card 2.1ms infinite alternate;
  border: solid white 2px;
  transform: scale(1.1);
  }
}

.CarteRoseOff {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 200px;
  background: black;
  border-radius: 10px;
  border: solid #520049 2px;
  box-shadow: 0px 0px 0px 0px #ff00e5, inset 0px 0px 0px 0px #ff00e5;
  transition: all .2s ease-in-out;

  &:hover {
    cursor: pointer;
  border: solid white 2px;
  animation: flicker-pink-card 2.1ms infinite alternate;
  border: solid white 2px;
  transform: scale(1.1);
  }
}

.CarteVerteOff {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 200px;
  background: black;
  border-radius: 10px;
  border: solid #003d00 2px;
  box-shadow: 0px 0px 0px 0px #00ff00, inset 0px 0px 0px 0px #00ff00;
  transition: all .2s ease-in-out;

  &:hover {
    cursor: pointer;
  border: solid white 2px;
  animation: flicker-green-card 2.1ms infinite alternate;
  border: solid white 2px;
  transform: scale(1.1);
  }
}
