html,
body,
#root {
  height: 100%;
}

.historyContainer {
  background-color: rgba(0, 162, 255, 0.2);
  min-width: 300px;
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: solid 2px rgb(192, 255, 255);
  border-right: solid 2px rgb(186, 255, 255);
  box-shadow: 0 0 15px 2px rgb(0, 217, 255);
  clip-path: inset(0px -15px 0px -15px);
  color:rgb(0, 217, 255);
};

@keyframes flicker-button-quiz {
  0% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00a2ff, inset 0px 0px 10px 2px #00a2ff;
  }
  2% {
    opacity: 1;
    box-shadow: 0px 0px 16px 2px #00a2ff, inset 0px 0px 6px 1px #00a2ff;
  }
  8% {
    opacity: 1;
    box-shadow: 0px 0px 16px 2px #00a2ff, inset 0px 0px 6px 1px #00a2ff;
  }
  12% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00a2ff, inset 0px 0px 10px 2px #00a2ff;
  }
  20% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00a2ff, inset 0px 0px 10px 2px #00a2ff;
  }
  25% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00a2ff, inset 0px 0px 10px 2px #00a2ff;
  }
  30% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00a2ff, inset 0px 0px 10px 2px #00a2ff;
  }

  70% {
    opacity: 1;
    box-shadow: 0px 0px 16px 2px #00a2ff, inset 0px 0px 6px 1px #00a2ff;
  }

  72% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00a2ff, inset 0px 0px 10px 2px #00a2ff;
  }

  77% {
    opacity: 1;
    box-shadow: 0px 0px 16px 2px #00a2ff, inset 0px 0px 6px 1px #00a2ff;
  }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00a2ff, inset 0px 0px 10px 2px #00a2ff;
  }
}


.historyContainer .card{
  margin-bottom: 20px;
}

.historyContainer .content {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}


.historyContainer .card {
  max-width: 400px;
  width: 100%;
  text-align: center;
}

label.radio {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 20px;
  color:rgb(202,234,255);
  font-weight: bolder;
}

label.radio+.radio {
  margin-left: 0;
  
}

label.radio input {
  margin-right: 10px;
  
}

.radio:hover{
  cursor:pointer;
}

.buttonQuiz {
  margin: 6px  4px 0 0;
  width: 72px;
  border: none;
  /* background-color: rgb(157, 43, 172); rgb(255, 90, 0) rgb(255, 187, 0) */
  background: linear-gradient(0deg, rgba(255,90,0,1) 0%, rgba(255,187,0,1) 100%);
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  transition: 300ms;
  }

  .buttonQuiz:hover {
    cursor: pointer;
    animation: flickerForm 6ms infinite alternate;
    background-color: rgb(45, 165, 231);
    color:rgb(253, 208, 7);
    transform: scale(1.05);
    border: solid 1px white;
  }

  .buttonQuiz:focus {
    animation: none;
  }

.button{
  margin: 6px  4px 0 0;
  width: 72px;
  border: none;
  background-color: rgb(157, 43, 172);
  background: linear-gradient(0deg, rgba(65,1,75,1) 0%, rgba(157,43,172,1) 100%);
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  transition: 300ms;
  margin: 15px;
}

.button:hover {
    cursor: pointer;
    animation: flickerForm 6ms infinite alternate;
    background-color: rgb(45, 165, 231);
    color:rgb(253, 208, 7);
    transform: scale(1.05);
    border: solid 1px white;
}

.button:focus {
  animation: none;
}