@keyframes flicker-popup {
  0% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00a2ff, inset 0px 0px 10px 2px #00a2ff;
  }

  2% {
    opacity: 1;
    box-shadow: 0px 0px 16px 2px #00a2ff, inset 0px 0px 6px 1px #00a2ff;
  }

  8% {
    opacity: 1;
    box-shadow: 0px 0px 16px 2px #00a2ff, inset 0px 0px 6px 1px #00a2ff;
  }

  12% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00a2ff, inset 0px 0px 10px 2px #00a2ff;
  }

  20% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00a2ff, inset 0px 0px 10px 2px #00a2ff;
  }

  25% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00a2ff, inset 0px 0px 10px 2px #00a2ff;
  }

  30% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00a2ff, inset 0px 0px 10px 2px #00a2ff;
  }

  70% {
    opacity: 1;
    box-shadow: 0px 0px 16px 2px #00a2ff, inset 0px 0px 6px 1px #00a2ff;
  }

  72% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00a2ff, inset 0px 0px 10px 2px #00a2ff;
  }

  77% {
    opacity: 1;
    box-shadow: 0px 0px 16px 2px #00a2ff, inset 0px 0px 6px 1px #00a2ff;
  }

  100% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px #00a2ff, inset 0px 0px 10px 2px #00a2ff;
  }
}

.popup {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 95%;
  bottom: 0;
  color: white;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-inner {
  display: flex;
  flex-direction: column;
  pointer-events: all;
  position: relative;
  width: 90%;
  height: 95%;
  background-color: rgb(16, 4, 34);
  // overflow: visible;
  border-radius: 8px;
  animation: flicker-popup 2.08ms infinite alternate;
  border: solid 2px white;

  &.desktop {
    display: none;
  }

  &.light {
    background-color: white;
    color: black;
    animation: none;
  }

  .close-btn {
    pointer-events: all;
    border: solid 2px white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: grey;
    color: white;
    transition: 100ms;
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 5;

    &:hover {
      cursor: pointer;
      transform: scale(1.08);
    }
  }

  .topContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .cocktail-name {
      margin: 0;
      top: 0px;
      border-radius: 8px 8px 0 0;
      width: 100%;
      padding: 8px 0;
      background-color: rgba(0, 0, 0, 0.466);
      text-align: center;
      color: white;
      position: absolute;
      z-index: 4;
    }

    .cocktail-category {
      margin: 0;
      bottom: 0px;
      width: 100%;
      padding: 4px 0;
      background-color: rgba(0, 0, 0, 0.466);
      text-align: center;
      color: white;
      position: absolute;
      z-index: 4;
    }

    .cocktail-img {
      border-radius: 8px 8px 0 0;
      width: 100%;
      margin: 0;
      z-index: 2;
    }
  }

  .mainContainer {
    width: 100%;
    height: auto;
    display: flex;

    .scrollContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      .info-cocktails {
        padding: 12px 12px 0 12px;
        font-size: 16px;
        text-align: center;
        max-height: 32vh;
        overflow-y: scroll;
      }

      .inst-ingr {
        list-style: none;
        height: auto;
        display: flex;
        margin: 4px;
        flex-direction: column;

        li {
          font-size: 14px;
          color: rgb(0, 247, 255);
        }
      }
    }

    .disclaimer {
      position: absolute;
      width: 100%;
      bottom: 4px;
      margin: 8px 0 0 0;
      font-size: 12px;
      color: red;
      text-align: center;
    }
  }
}

@media screen and (min-width: 700px) and (max-height: 390px) {
  .popup-inner {
    flex-direction: row;

    .topContainer {
      height: 100%;
      width: auto;
      align-items: flex-start;

      .cocktail-img {
        height: 100%;
        width: auto;
        border-radius: 8px 0 0 8px;
      }

      .cocktail-name {
        border-radius: 8px 0 0 0;
      }

      .cocktail-category {
        border-radius: 0 0 0 8px;
      }
    }

    .mainContainer {
      height: 100%;
      width: 100%;

      .scrollContainer {
        justify-content: center;
        align-items: center;

        .info-cocktails {
          max-height: 80%;
        }
      }

      .disclaimer {
        width: 55%;
      }
    }
  }
}

@media screen and (min-width: 760px) and (min-height: 390px) {
  .popup-inner {
    display: none;

    &.desktop {
      display: flex;
      flex-direction: column;
      align-items: center;

      .topContainer {
        width: 100%;
        height: auto;
        align-items: flex-start;

        .cocktail-name {
          position: relative;
          border-radius: 8px 8px 0 0;
        }

        .cocktail-category {
          position: relative;
          border-radius: 0;
        }
      }

      .cocktail-img {
        width: 30%;
        margin-top: 12px;
        border-radius: 8px;
      }

      .mainContainer {
        height: 100%;
        width: 100%;

        .scrollContainer {
          justify-content: center;
          align-items: center;

          .info-cocktails {
            max-height: 70%;

            li {
              font-size: 16px;
            }
          }
        }

        .disclaimer {
          width: 100%;
          font-size: 16px;
        }
      }

      &.light {
        .mainContainer {
          .info-cocktails {
            li {
              color: rgb(211, 96, 2);
            }
          }
        }
      }
    }
  }
}
