.searchContainer {
  background-color: rgba(0, 162, 255, 0.2);
  min-width: 300px;
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: solid 2px rgb(192, 255, 255);
  border-right: solid 2px rgb(186, 255, 255);
  box-shadow: 0 0 15px 2px rgb(0, 217, 255);
  clip-path: inset(0px -15px 0px -15px);

  .searchBar {
    background-color: rgba(0, 107, 168, 0.767);
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;

    .searchList {
      width: 100%;
      height: 100%;
      margin: 0;
      display: flex;
      list-style: none;
      justify-content: space-around;

      li {
        padding: 12px 3%;
        cursor: pointer;
        color: aqua;
        transition: 300ms;

        &:hover {
          background-color: #ffa600;
          color: white;
        }
      }

      .inputList {
        padding: 0;
      }

      input {
        height: 100%;
        background-color: rgb(212, 224, 233);

        &:hover {
          background-color: rgb(255, 255, 255);
        }
      }
    }
  }

  .cardsContainer {
    padding: 24px 10% 24px 10%;
    max-width: 95%;
    width: 95%;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 120px 120px;
    grid-template-rows: 140px 140px;
    gap: 12px 12px;
    grid-template-areas:
      "card1 card2"
      "card4 card5"
      "card7 card8";

    .card {
      width: 100%;
      height: 140px;
      background-color: rgba(156, 76, 0, 0.829);
      margin: auto;
      border-radius: 8px;
      box-shadow: 0 0 8px 2px cyan;
      object-fit: contain;
      position: relative;

      h4 {
        margin: 0;
        top: 12px;
        padding: 8px 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.226);
        text-align: center;
        color: white;
        position: absolute;
        backdrop-filter: blur(3px);
      }

      h5 {
        margin: 0;
        bottom: 0;
        padding: 4px 0;
        border-radius: 0 0 8px 8px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.226);
        text-align: center;
        color: white;
        position: absolute;
        backdrop-filter: blur(3px);
      }

      .drinkImage {
        width: 100%;
        border-radius: 8px;
      }
    }
  }
}

@media screen and (min-width: 530px) {
  .searchContainer {
    .cardsContainer {
      grid-template-columns: 140px 140px 140px;
    }
  }
}

@media screen and (min-width: 800px) {
  .searchContainer {
    .cardsContainer {
      grid-template-columns: 140px 140px 140px 140px;
    }
  }
}

@media screen and (min-width: 950px) {
  .searchContainer {
    .cardsContainer {
      grid-template-columns: 140px 140px 140px 140px 140px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .searchContainer {
    margin-top: 64px;
    .cardsContainer {
      grid-template-columns: 240px 240px 240px;
      grid-template-rows: 335px 335px 335px;
      gap: 24px 20px;
      grid-template-areas:
        "card1 card2 card3"
        "card4 card5 card6"
        "card7 card8 card9";

      .card {
        width: 100%;
        height: 335px;
        transform: scale(0.95);
        transition: 300ms;
        box-shadow: none;
        background-color: rgba(80, 39, 0, 0.61);

        &:hover {
          background-color: rgb(206, 99, 0);
          transform: scale(1);
          cursor: pointer;
          box-shadow: 0 0 14px 2px cyan;
        }
      }
    }
  }
}

@media screen and (min-width: 1450px) {
  .searchContainer {
    max-width: 75%;
    .cardsContainer {
      grid-template-columns: 240px 240px 240px 240px;
    }
  }
}
