body {
  background-color: #404040;
}

h1 {
  font-size: 35px;
  color: #ffa800;
}

.Cartes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CartesEteintes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// *! ---------------CLIGNOTEMENT---------------

@keyframes flicker-cards {
  0% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }
  2% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1) inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }
  8% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }
  12% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }
  20% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }
  25% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }
  30% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }

  70% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }

  72% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }

  77% {
    opacity: 0.9;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }
  100% {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px rgba(0, 162, 255, 1), inset 0px 0px 10px 2px rgba(0, 162, 255, 1);
  }
}

// *! -----------------CARTES ALLUMEES-----------------

.CarteBleue {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 200px;
  background: grey;
  border-radius: 10px;
  border: solid white 2px;
  animation: flicker-cards 2.1ms infinite alternate;
  // box-shadow: 2px rgb(170, 221, 255);
}

.CarteOrange {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 200px;
  background: grey;
  border-radius: 10px;
  border: solid white 2px;
  box-shadow: 0px 0px 7px 5px #ffc700, inset 0px 0px 15px 6px #ffc700;
}

.CarteRose {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 200px;
  background: grey;
  border-radius: 10px;
  border: solid white 2px;
  box-shadow: 0px 0px 7px 5px #ff00e5, inset 0px 0px 15px 6px #ff00e5;
}

.CarteVerte {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 200px;
  background: grey;
  border-radius: 10px;
  border: solid white 2px;
  box-shadow: 0px 0px 7px 5px #00ff00, inset 0px 0px 15px 6px #00ff00;
}

// *! -----------------CARTES ETEINTES-----------------

.CarteBleueOff {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 200px;
  background: black;
  border-radius: 10px;
  border: solid #005e64 2px;
  box-shadow: 0px 0px 0px 0px #00f0ff, inset 0px 0px 0px 0px #00f0ff;
  transition: all .2s ease-in-out;
}
.CarteBleueOff:hover {
  cursor: pointer;
  border: solid white 2px;
  animation: flicker-cards 2.1ms infinite alternate;
  border: solid white 2px;
  transform: scale(1.1);
}

.CarteOrangeOff {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 200px;
  background: black;
  border-radius: 10px;
  border: solid #554300 2px;
  box-shadow: 0px 0px 0px 0px #ffc700, inset 0px 0px 0px 0px #ffc700;
}

.CarteRoseOff {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 200px;
  background: black;
  border-radius: 10px;
  border: solid #520049 2px;
  box-shadow: 0px 0px 0px 0px #ff00e5, inset 0px 0px 0px 0px #ff00e5;
}

.CarteVerteOff {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 200px;
  background: black;
  border-radius: 10px;
  border: solid #003d00 2px;
  box-shadow: 0px 0px 0px 0px #00ff00, inset 0px 0px 0px 0px #00ff00;
}
