* {
  box-sizing: border-box;
}

.header {
  display: flex;
  max-width: 100vw;
  // min-width: 320px;
  width: 100%;
  z-index: 5;

  .mobile {
    padding-top: 64px;
    top: 0;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    .themeButton {
      position: absolute;
      top: 8px;
      left: 4px;
      width: 30px;
      height: 15px;
      border-radius: 15px;
      background-color: rgb(204, 204, 204);
      border: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      z-index: 20;
    }

    .themeButton:hover {
      cursor: pointer;
    }

    .sliderSwitch {
      justify-content: flex-end;
    }

    .themeButtonSlider {
      width: 15px;
      height: 15px;
      background-color: black;
      border-radius: 15px;
    }

    .navButton {
      position: fixed;
      right: 8px;
      top: 4px;
      width: 42px;
      height: 42px;
      border: none;
      background: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 350ms;
      z-index: 20;

      &:hover {
        cursor: pointer;
      }
    }

    .rotate90 {
      transform: rotate(-90deg);
    }

    .menuLogoBars {
      width: 38px;
      height: 3px;
      border-radius: 3px;
      background-color: #ffa600;
      margin-top: 3px;
      margin-bottom: 3px;
      position: relative;
    }

    .hide {
      display: none;
    }

    .cross {
      transform: rotate(45deg);
      margin: 0;
      position: absolute;
    }

    .crossInverted {
      transform: rotate(-45deg);
      margin: 0;
      position: absolute;
    }
  }

  .desktop {
    display: none;
    top: 0;
    width: 100%;
    min-width: 320px;
    height: 256px;
    position: relative;
    z-index: 10;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .mobile {
      display: none;
    }

    .desktop {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 196px;
      position: relative;

      .themeButton {
        position: absolute;
        top: 8px;
        left: 4px;
        width: 30px;
        height: 15px;
        border-radius: 15px;
        background-color: rgb(204, 204, 204);
        border: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 20;
      }

      .themeButton:hover {
        cursor: pointer;
      }

      .sliderSwitch {
        justify-content: flex-end;
      }

      .themeButtonSlider {
        width: 15px;
        height: 15px;
        background-color: black;
        border-radius: 15px;
      }
    }
  }
}
