@keyframes flickerTop {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow: 0 -2px 8px 4px rgba(0, 162, 255, 1),
      0 -2px 10px 6px rgb(6, 55, 100), 0 -2px 8px 5px rgb(54, 134, 180),
      0 -2px 12px 7px rgb(34, 106, 148), 0 -2px 23px 5px rgb(4, 54, 83),
      0 -2px 32px 12px rgba(0, 162, 255, 1);
  }
  20%,
  24%,
  55% {
    box-shadow: 0 -2px 10px 6px rgb(3, 62, 117),
      0 -2px 30px 6px rgb(5, 107, 167), 0 -2px 25px 5px rgb(54, 134, 180);
    border-top: solid 2px rgb(171, 222, 252);
  }
}

$textBase: #5a8bac;
$textActiveGlow: rgb(255, 139, 86);
$textHover: #e9feff;
$textGlow: rgba(0, 162, 255, 1);

@keyframes textNeon {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 1px rgba(0, 217, 255, 1), 0 0 2px $textHover,
      0 0 10px $textGlow, 0 0 18px $textGlow, 0 0 25px $textGlow,
      0 0 30px $textGlow;
  }
  20%,
  24%,
  55% {
    -webkit-text-stroke-color: $textHover;
    -webkit-text-stroke-width: 1px;
  }
}

@keyframes textNeonActive {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 1px rgb(245, 100, 4), 0 0 2px $textHover,
      0 0 10px $textActiveGlow, 0 0 18px $textActiveGlow,
      0 0 25px $textActiveGlow, 0 0 30px $textActiveGlow;
  }
  20%,
  24%,
  55% {
    -webkit-text-stroke-color: $textHover;
    -webkit-text-stroke-width: 1px;
  }
}

.footer {
  padding: 64px 0 32px 0;
  margin: 0;
  width: 100%;
  min-height: 256px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(37 23 51);
  z-index: 0;
  border-top: solid 2px white;
  animation: flickerTop 8ms infinite alternate;
  // box-shadow: 0 -2px 12px 4px rgba(0, 162, 255, 1), inset 0px 6px 6px -4px rgba(0, 162, 255, 1);

  .footerBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerLeft {
    @extend .footerBox;
    min-height: 20%;
    position: relative;
  }

  .footerMid {
    @extend .footerBox;
    height: 80%;
  }

  .footerRight {
    @extend .footerBox;
    display: none;

    .footerNav {
      list-style: none;
      padding: 0;
      margin: 0;

      a {
        font-family: "RussoOne";
        mix-blend-mode: lighten;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25%;
        width: 50%;
        padding: 6px;
        color: $textBase;
        font-size: 22px;
        text-decoration: none;
        transition: 80ms;
        user-select: none;

        &:visited {
          color: $textBase;
        }

        &:hover {
          color: $textHover;
          transform: scale(1.05);
          text-shadow: 0px 0px 18px $textGlow;
          animation: textNeon 60ms infinite alternate;
        }

        &.navActive {
          background: none;
          color: $textHover;
          animation: textNeonActive 60ms infinite alternate;

          &:visited {
            animation: textNeonActive 60ms infinite alternate;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    flex-direction: row;
    padding: 10px 0 10px 0;
    min-height: 298px;

    .footerRight {
      display: flex;
      height: 100%;
      width: 30%;
    }

    .footerLeft {
      min-height: 100%;
      width: 30%;
    }

    .footerMid {
      height: 100%;
      width: 40%;
    }
  }
}
