@keyframes flickerForm {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow: 0 0px 2px 1px rgba(177, 246, 255, 1),
      0 0px 4px 1px rgba(6, 172, 238, 0.92),
      0 0px 6px 1px rgba(14, 139, 211, 0.98),
      0 0px 8px 2px rgba(34, 106, 148, 0.85),
      0 0px 10px 2px rgba(8, 103, 158, 0.68),
      0 0px 12px 2px rgba(0, 162, 255, 0.71);
  }
  20%,
  24%,
  55% {
    box-shadow: 0 0px 5px 2.5px rgb(125, 235, 255),
      0 0px 6px 4px rgb(3, 62, 117), 0 0px 8px 2px rgb(5, 107, 167);
  }
}

$bgColor: rgba(15, 87, 126, 0.45);
$bgColorFocus: rgba(43, 163, 228, 0.45);

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: "RussoOne";

  h3 {
    margin: 4px 4px 4px 4px;
    letter-spacing: 4px;
    font-weight: 100;
  }

  input {
    padding: 6px;
    height: 28px;
    width: 290px;
    margin: 8px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: $bgColor;
    box-shadow: 0 0px 2px 1px rgb(117, 135, 138);

    &:focus {
      outline: none;
      animation: flickerForm 6ms infinite alternate;
      background-color: $bgColorFocus;
    }

    &::placeholder {
      color: rgba(6, 172, 238, 0.92);
    }
  }

  textarea {
    margin: 8px;
    border-radius: 4px;
    border: none;
    width: 290px;
    height: 130px;
    resize: none;
    padding: 6px;
    color: white;
    background-color: $bgColor;
    box-shadow: 0 0px 2px 1px rgb(117, 135, 138);

    &:focus {
      outline: none;
      animation: flickerForm 6ms infinite alternate;
      background-color: $bgColorFocus;
    }

    &::placeholder {
      color: rgba(6, 172, 238, 0.92);
    }
  }

  .newsCheck {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 6px;

    .checkBox {
      height: 20px;
      width: 20px;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
        animation: none;
      }

      &:checked {
        outline: none;
        animation: flickerForm 6ms infinite alternate;
      }
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 12px;
    }
  }

  .buttonSubmit {
    margin: 6px 4px 0 0;
    width: 72px;
    position: absolute;
    right: 0;
    bottom: 0;

    &:hover {
      cursor: pointer;
      animation: flickerForm 6ms infinite alternate;
      background-color: $bgColorFocus;
    }
  }

  &.light {
    input {
      background-color: rgb(214 220 226);
      color: rgb(51, 51, 51);

      &:focus {
        outline: none;
        animation: none;
        background-color: rgb(240, 245, 247);
      }

      &::placeholder {
        color: rgb(59, 59, 59);
      }
    }

    textarea {
      background-color: rgb(214 220 226);

      color: rgb(51, 51, 51);

      &:focus {
        outline: none;
        animation: none;
        background-color: rgb(240, 245, 247);
      }

      &::placeholder {
        color: rgb(59, 59, 59);
      }
    }

    .newsCheck {
      .checkBox {
        &:checked {
          outline: none;
          animation: none;
        }
      }

      p {
        margin: 0;
        padding: 0;
      }
    }

    .buttonSubmit {
      &:hover {
        cursor: pointer;
        animation: none;
        background-color: rgb(240, 245, 247);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .form {
    margin-bottom: 20px;
    h3 {
      font-size: 24px;
      padding-bottom: 6px;
    }

    input {
      width: 420px;
    }

    textarea {
      width: 420px;
    }

    .newsCheck {
      p {
        font-size: 14px;
      }
    }
  }
}
