html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 320px;
  background-color: rgb(214, 220, 226);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.topPage {
  padding-bottom: 120px;
  min-width: 320px;
  width: 100%;
  height: auto;
  background-image: url("@assets/images/headerBg.jpg");
  background-repeat: no-repeat;
  background-size: 170%;
  background-position: top;
  background-color: rgb(16, 4, 34);

  &.light {
    background-image: none;
    background: none;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 64px;
}

.carrous {
  width: 100%;
  height: 320px;
}

.midPage {
  padding: 8px 0 50px 0;
  width: 100%;
  min-height: 1312px;
  height: auto;
  color: white;
  background-image: url("@assets/images/midPageBg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: bottom;
  background-color: rgb(16, 4, 34);
  display: flex;
  justify-content: flex-start;
  &.light {
    background-image: none;
    background: none;
  }
}

.botPage {
  width: 100%;
  min-height: 256px;
  background-color: rgb(16, 4, 34);

  &.light {
    background-image: none;
    background: none;
  }
}

.container {
  width: 100%;
  height: auto;
  display: flex;
}

@media screen and (min-width: 1024px) {
  .topPage {
    background-size: 100vw;
  }

  .midPage {
    background-image: url("@assets/images/midPageBgDesk.jpg");
    background-size: 100vw;
    background-position: 0px;
  }
}
