.formationContainer {
  padding: 4px;
  background-color: rgba(0, 162, 255, 0.2);
  color: white;
  min-width: 300px;
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: solid 2px rgb(192, 255, 255);
  border-right: solid 2px rgb(186, 255, 255);
  box-shadow: 0 0 15px 2px rgb(0, 217, 255);
  clip-path: inset(0px -15px 0px -15px);
  text-align: center;
  word-wrap: break-word;

  .imageBarman {
    margin: 10px;
    margin: auto, 0;
    border-color: white;
    border: solid white 2px;
    box-shadow: 0px 0px 7px 5px #00f0ff, inset 0px 0px 15px 6px #00f0ff;
    width: 80%;
  }

  .introduction {
    color: #ff9400;
    margin: 24px 0;
  }

  p {
    margin: 0 0 24px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    margin: 24px;
  }

  h2 {
    margin: 12px 12px 0 12px;
  }
}
details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sommaire {
  color: #ff3100;
  margin-top: 20px;
  margin-bottom: 50px;

  &:hover {
    cursor: pointer;
    filter: brightness(250%);
  }
}

/* span {
    color:#00F0FF;
    font-size: 2em;
} */

/* h1 {
    text-shadow: 0 0 3px #FF0000, 0 5px 7px #00f0ff;
    color: #FF3100;
}

h2 {
    color: #FF6000;
}

p {
    color: #f4af4d;
    text-align: center;
    margin-bottom: 30px;
} */

/* mise en forme des icones  */
.icone-shaker,
.icone-diplome,
.icone-flair {
  font-size: 2em;
  margin-right: 5px;
}

ul {
  list-style: none;
}

.linkSite {
  font-size: 1em;
  color: #ff9400;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  margin: 42px 54px;

  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
}